version: '3.8'

services:
  # 服務一：我們的 Python API
  api:
    build: .
    ports:
      - "5000:5000"
    volumes:
      - .:/app
    environment:
      - FLASK_APP=run.py
      - DB_HOST=db
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
      - JWT_SECRET_KEY=${JWT_SECRET_KEY}
      - N8N_BASIC_SEARCH_URL=${N8N_BASIC_SEARCH_URL}
      - N8N_ADVANCED_SEARCH_URL=${N8N_ADVANCED_SEARCH_URL}
      - N8N_RECOMMEND_URL=${N8N_RECOMMEND_URL  
    depends_on:
      - db

  # 服務二：我們的 PostgreSQL 資料庫
  db:
    image: postgres:13
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
